# Ignore environment variables and secrets
.env

# Node modules
node_modules/

# Python cache
__pycache__/
*.pyc

# VSCode settings
.vscode/

# Docker artifacts
*.log
docker-compose.override.yml

# OS files
.DS_Store
Thumbs.db
